* {
  box-sizing: border-box;
}
html, body {
  background-color: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}
header {
  position: fixed;
  top: 24px;
  left: 24px;
  font-size: 13px;
  mix-blend-mode: difference;
  /* font-weight: bold; */
  font-family: 'Space Mono', monospace;
}
a {
  border-bottom: 1px solid black;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  border-color: transparent;
}
p {
  line-height: 1.4em;
}
em {
  font-style: italic;
}
p {
  margin-bottom: 24px;
}
.grow {
  flex-grow: 1;
}
.genesis {
  font-size: 16px;
  opacity: .4;
}
.contact {
  font-weight: bold;
  margin-bottom: 21px;
}
.links {
  display: flex;
  flex-direction: column;
}
.links div {
  margin-bottom: 6px;
}

.section-1 {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 100px 24px 24px 24px;
  font-size: 24px;
  /* font-family: 'Work Sans';
  font-weight: 600; */
}
.section-2 {
  display: flex;
  font-family: 'Times New Roman', sans-serif;
  background-color: white;
  color: black;
  width: 100%;
  min-height: 100vh;
  padding: 100px 24px 24px 24px;
}
.column {
  flex: 1 0 33%;
  margin-right: 16px;
}
.column img {
  max-width: 100%;
  margin-top: 8px;
  cursor: pointer;
}
